@using TWWork_v2.Enums
@model TWWork_v2.ViewModels.RetrospectiveInquiryViewModel

@{
	Layout = null;
	ViewData["Title"] = "RFID过站读取次数统计表";
}

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/lib/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
<form class="layui-form" asp-controller="RetrospectiveInquiry">
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">条件</label>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline">
				<input asp-for="DateMin" class="layui-input" id="dateMin" type="text" placeholder="开始时间" autocomplete="off">
			</div>
			<div class="layui-input-inline">
				<input asp-for="DateMax" class="layui-input" id="dateMax" type="text" placeholder="结束时间" autocomplete="off">
			</div>
		</div>
		<div class="layui-inline">
			<div class="layui-input-inline">
				<select asp-for="DeviceName" name="deviceName" lay-verify="required" id="deviceName"
				        lay-filter="deviceName" lay-search="" asp-items="Html.GetEnumSelectList<DeviceEnum>()"></select>
			</div>
			<div class="layui-input-inline">
				<select asp-for="PushOrPop" name="pushOrPop" 
				        lay-filter="pushOrPop" asp-items="Html.GetEnumSelectList<PushOrPopEnum>()"></select>
            </div>
		</div>
		<div class="layui-inline">
			<input class="layui-btn layui-btn-primary" type="submit" asp-action="Index" value="查询"/>
		</div>
		<div class="layui-inline">
			<input class="layui-btn layui-btn-primary" type="button" id="export" value="导出"/>
		</div>
	</div>
</form>
<table class="layui-hide" id="test"></table>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/layui/layui.js"></script>
<script src="~/lib/layui/layui_exts/excel.js"></script>

<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
                
        laydate.render({
            elem: '#dateMin',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        });
        laydate.render({
            elem: '#dateMax',
            type: 'datetime',
            format: 'yyyy-MM-dd HH:mm:ss'
        });
    });
    
    layui.use('table', function () {
    	var table = layui.table;
    	
    	table.render({
            elem: '#test'
            ,id : 'exportTable'
            ,title: '追溯查询'
            , url: '/RetrospectiveInquiry/LoadData'
            , where:{
                dateMin : '@Model.DateMin',
                dateMax: '@Model.DateMax' ,
                deviceName : '@Model.DeviceName', 
                pushOrPop : '@Model.PushOrPop'
            }
            //, cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { field: 'no', title: '编号', sort: true }
                ,{ field: 'deviceName', title: '起始设备', sort: true }
                , { field: 'boxId', title: '花篮编号', sort: true }
                , { field: 'rfidStationName', title: '站点' }
                , { field: 'traceID', title: '生产批次' }
                , { field: 'createDate', title: '创建时间', align: 'center' } //单元格内容水平居中
                , { field: 'myPassNum', title: '经过站点数', sort: true, align: 'right' } //单元格内容水平居中
                , { field: 'lateTime', title: '花篮最新入站时间', sort: true, align: 'right' }
                // , { field: 'myTraceId', title: '读取速率', sort: true, align: 'right' }
                // , { field: 'myLateTime', title: '读取速率', sort: true, align: 'right' }
                , { field: 'myDeviceName', title: '当前设备', sort: true, align: 'right' }
                , { field: 'pushOrPop', title: '进/出', sort: true, align: 'right' }
            ]]
            , page: true
         });
    });
    
    layui.use(['jquery', 'excel', 'layer'], function() {
        var $ = layui.jquery;
        var excel = layui.excel;
        $('#export').on('click', function(){
            $.ajax({
                url: '/RetrospectiveInquiry/ExportFile'
                ,dataType: 'json'
                ,data:{
                      dateMin : '@Model.DateMin',
                      dateMax: '@Model.DateMax' ,
                      deviceName : '@Model.DeviceName', 
                      pushOrPop : '@Model.PushOrPop'
                },
                success: function(res) {
				// 假如返回的 res.data 是需要导出的列表数据
				//console.log(res.data);// [{name: 'wang', age: 18, sex: '男'}, {name: 'layui', age: 3, sex: '女'}]
				// 1. 数组头部新增表头
				res.unshift(
						{
							no: '编号'
							,deviceName : '起始设备'
							, boxId: '花篮编号'
							, rfidStationName: '站点' 
							, traceID: '生产批次' 
							, createDate: '创建时间'
							, myPassNum: '经过站点数'
							, lateTime: '花篮最新入站时间'
							, myDeviceName: '当前设备'
							, pushOrPop: '进/出'
						});
                    // 2. 如果需要调整顺序，请执行梳理函数
                    // var data = excel.filterExportData(res.data, [
                    // 	'name',
                    // 	'sex',
                    // 	'age',
                    // ]);
                    // 3. 执行导出函数，系统会弹出弹框
                    excel.exportExcel({
                        sheet1: res
                    }, '追溯查询.xlsx', 'xlsx');
                }
            });
        });
        
    });
</script>
</body>
</html>