@model TWWork_v2.ViewModels.ComparedStatisticsViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index2";
}

<form class="layui-form" asp-controller="ComparedStatistics">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">条件</label>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input asp-for="DateMin" class="layui-input" id="dateMin" type="text" placeholder="开始时间">
            </div>
            <div class="layui-input-inline">
                <input asp-for="DateMax" class="layui-input" id="dateMax" type="text" placeholder="结束时间">
            </div>
        </div>
        <div class="layui-inline">
            <input class="layui-btn layui-btn-primary" type="submit" asp-action="IndexNoLayout" value="查询" />
        </div>
        <div class="layui-inline">
            <input class="layui-btn layui-btn-primary" type="submit" type="button" id="export" value="导出" />
        </div>
    </div>
</form>
<table class="layui-hide" id="test"></table>

@*<table lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                <th lay-data="{field:'username', width:80}">用户名</th>
                <th lay-data="{field:'sex', width:80, sort: true}">性别</th>
                <th lay-data="{field:'city'}">城市</th>
                <th lay-data="{field:'sign'}">签名</th>
                <th lay-data="{field:'experience', sort: true}">积分</th>
                <th lay-data="{field:'score', sort: true}">评分</th>
                <th lay-data="{field:'classify'}">职业</th>
                <th lay-data="{field:'wealth', sort: true}">财富</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.username</td>
                    <td>@item.sex</td>
                    <td>@item.city</td>
                    <td>@item.sign</td>
                    <td>@item.experience</td>
                    <td>@item.score</td>
                    <td>@item.classify</td>
                    <td>@item.wealth</td>
                </tr>
            }
        </tbody>
    </table>*@
@section Scripts{
    <script>  
        layui.use('laydate', function () {
            var laydate = layui.laydate;
			var dateObj = new Date();
            dateObj.setTime(dateObj.getTime());
            var date = dateObj.getFullYear()+"-" + (dateObj.getMonth()+1) + "-" + dateObj.getDate();

            laydate.render({
                elem: '#dateMin',
                type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss',
                value: date + " 00:00:00",
                trigger : 'click'
            });
            laydate.render({
                elem: '#dateMax',
                type: 'datetime',
				format: 'yyyy-MM-dd HH:mm:ss',
                value: date + " 23:59:59",
                trigger : 'click'
            });
        });

        layui.use('table', function () {
            var table = layui.table;
            console.log("index!!!");
            //转换静态表格
            //table.init('demo', {
            //	height: 315 //设置高度
            //	, limit: 10 //注意：请务必确保 limit 参数（默认：10）是与你服务端限定的数据条数一致
            //	//支持所有基础参数
            //});
            table.render({
                elem: '#test'
                ,id : 'exportTable'
                , url: '/ComparedStatistics/LoadData'
                , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
                , cols: [[
                    { field: 'obtCraftName', title: '光电工序', sort: true }
                    , { field: 'obtDeviceName', title: '光电机器' } //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    , { field: 'obtDeCode', title: '光带站点', sort: true }
                    , { field: 'obtCnt', title: '光电统计' }
                    , { field: 'obtDisturb', title: '光电抖动计数' }
                    , { field: 'obtwithoutRFID', title: '触发无RFID', align: 'center' } //单元格内容水平居中
                    , { field: 'rfidwithoutOBT', title: 'RFID无匹配光电', sort: true, align: 'right' } //单元格内容水平居中
                    , { field: 'rfidCraftName', title: 'RFID工序', sort: true, align: 'right' }
                    , { field: 'rfidDeviceName', title: 'RFID机器', sort: true, align: 'right' }
                    , { field: 'rfidDeCode', title: 'RFID站点', sort: true, align: 'right' }
                    , { field: 'rfidCnt', title: 'RFID计数', sort: true, align: 'right' }
                    , { field: 'rfidCntDiff', title: 'RFID计数差异', sort: true, align: 'right' }
                ]]
                , page: true
            });
            
             $('#export').on('click',function() {
                $.ajax({
                    url:"/ComparedStatistics/ExportFile",
                    type: 'post',
                    data:{
                        dateMin:'@Model.DateMin',
                        dateMax:'@Model.DateMax'
                    },
                    async:false,
                    dataType: 'json',
                    success:function(res) {
                      table.exportFile('exportTable',res,'xlsx');
                    }
                });
            });
        });
        
    </script>
}
